
#nphone{background-color:#fff;}
.container{
    font-size:12px;
    .order-head {
        height: 100px;
        overflow: hidden;
        .order-logo {   
            display: block;
            width: 160px;
            height: 100px;
                img {
                    margin-top: 20px;
                }
        }
        .order-step{
            dl {
            float: left;
            background: #dfdfdf;
            height: 8px;
            width: 120px;
            position: relative;
            top: 30px;            
            dt {
                width: 24px;
                height: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -12px;
                margin-top: -12px;
                line-height: 24px;
                text-align: center;
                background: #dfdfdf;
                border: solid 1px #ccc;
                border-radius: 100%;
                font-size: 14px;
            }
            dd {
                top: 24px;  
                left: 0;
                text-align: center;
                width: 100%;
                position: absolute;
            }  
            }
            .cur {background: #c80f1e;
                dd{
                    color: #c80f1e;
                    font-weight: bold;
                }
                dt{background-color:#c80f1e;color:#fff;border-color:#c80f1e;}
            }
        }
    }
    .cart-box{
        a {
            color: #333;
            text-decoration: none;
            hide-focus: expression(this.hideFocus=true);
            outline: 0;
            transition: color .1s;
        }
        .cart-tab {
            height: 30px;
            line-height: 30px;
            border-bottom: solid 2px #dfdfdf;
            .cur {
                color: #c80f1e;
                border-bottom: solid 2px #c80f1e;
                height: 30px;
            }
            .main-color {
                color: #c80f1e;
            }
            a {
            display: inline-block;
            padding: 0 5px;
            font-size: 15px;
            text-decoration: none;
            }
        }
        .cart-item {
            border: solid 1px #dfdfdf;
            clear: both;
            margin-top: 10px;
            overflow: hidden;
            .cart-check {
                float: left;
                width: 50px;
                text-align: center;
                padding: 15px 0 0;
                input {
                    vertical-align: middle;
                    margin-right: 3px;
                }
                .radio-box {
                    position: relative;
                    input {
                        outline: 0;
                        border: none!important;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        box-shadow: none!important;
                        vertical-align: middle;
                        width: 13px\9;
                        height: 13px\9;
                    }
                }
                
            }
            .cart-product-box {
                margin-left: 50px;
                overflow: hidden;
                padding: 15px 0;
                border-bottom: solid 1px #dfdfdf;
            }
            .product {
                width: 550px;
                overflow: hidden;
                float: left;                
            }
                .block{
                    display: block;
                }
                .pro-img-box {
                    width: 80px;
                    height: 80px;
                }
                .relative {
                    position: relative;
                }
                img {
                    display: block;
                    width: 80px;
                    height: 80px;
                    float: left;
                    border: solid 1px #eee;
                }
                .hide {
                    display: none;
                }
                .product-title {
                    margin-left: 102px;
                    width: 400px;
                     h5 {
                        font-weight: normal;
                    }
                    p{
                        margin-top: 3px;
                        span{    
                            background: #c80f1e;
                            color: #fff;
                            padding: 2px 5px;
                            position: relative;
                            margin-right: 8px;
                        }
                    }                    
                    .grey-9{
                        color: #9c9c9c;
                    }
                    .ellipsis {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .margin-top {
                        margin-top: 10px;
                    }
                    .jiuji-server a {
                        float: left;
                        margin-right: 15px;
                    }
                }

            .unit-price, .discount, .count, .sum{
                width: 120px;
                float: left;
            }
            .count{
                a{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    border: solid 1px #dfdfdf;
                    background: #f5f5f5;
                    vertical-align: middle;
                    text-decoration: none;
                }
                input {
                    width: 30px;
                    height: 20px;
                    border: solid 1px #dfdfdf;
                    margin: 0 -1px;
                    vertical-align: bottom;
                    text-align: center;
                }
            }
            .main-color {
                color: #c80f1e;
            }
            .action {
                float: left;
                a{display:block;}
            }            
        }
        .cart-title {
            border: 0;
            padding: 5px 0;
            .cart-check {
                padding: 0;
            }
            .product {
                padding-left: 104px;
                width: 446px;
            }
            .cart-product-box {
                padding: 0;
                border: 0;
            }
        }
        .cart-total {
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            margin: 20px 0;
            background: #f5f5f5;
            a{margin-left: 20px;}
            .margin-left {
                margin-left: 10px;
            }
            span {
                margin-right: 20px;
                float: left;
            }
            .large-font {
                font-size: 16px;
            }
            .title-font {
                font-size: 18px;
            }
            button {
                border: 0;
                background: #c80f1e;
                color: #fff;
                height: 50px;
                padding: 0 25px;
                font-size: 18px;
                float: right;
                border-radius: 0;
            }
        }
        .main-color {
            color: #c80f1e;
        }

    }
    .left{float:left;}
    .right{float:right;}
}